<h1>New game!!</h1>
<p>
  <div class="cont">
    <% @vari.each do |letter|%>
      <div class="letra"><%= letter %></div>
    <% end %>
  </div>
  <h1>What is the longest word you can find</h1>
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <input type="submit" value="word">
  </form>
</p>
